{%extends 'base_docs.html'%}

{%block title%}Документы{%endblock%}

{%block cards%}
<form action="{% url 'search' %}" method="get">
    <div class="container">
    <input type="text" placeholder="Название документа" name="search_query" value="{{request.GET.search_query}}">
    <button type="submit" class="search_btn">🔍</button>
</div>
      <br>
      <br>
</form>

<div class="cards">
    {% for var in items %}
    {%if var.document_status == "active"%} 
    <div class="card">
        {%if var.document_image%}
                <img src="{{var.document_image.url|slice:'26:200'}}" alt="">
        {%endif%}
        <div class="docs_name">{{ var.document_title }}</div>
        <div class="overview">{{var.document_overview}}</div>
        <a href="{% url 'deleted' var.id %}"><button class="delete_btn">Удалить</button></a>
        <a href="{% url 'doc_url' var.document_name %}">
            <button class="btn">Подробнее</button>
        </a>
    </div>
    {%endif%}
    {% endfor %}
</div>

    {%endblock%}