{% extends 'base_docs.html' %}
{% load static %}

{%block title%}{{ data.title|capfirst }}{%endblock%}

{%block cards%}
    <div class="sec_card">
        <a href="{% url 'search'%}"><button class="btn">Перейти к документам</button></a>
        <div class="content">
            {%if data.doc.document_image%}
                <img src="../{{data.doc.document_image.url|slice:'26:200'}}">
            {%endif%}
            <div class="doc_name">{{ data.doc.document_title }}</div>
            <br>
            <br>
            <br>
            <br>
            <div class="description">{{data.doc.document_description|linebreaksbr}}</div>

        </div>
    </div>
    
{%endblock%}